{% extends "base.html" %}


{% block content %}
<h1 class="text-capitalize mb-4 text-center text-bold text-grey-500 fw-bold"> LOG IN </h1>
<form method="POST" class="mb-24">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="id_email">Username:</label>
            <div>
                <input class="form-control" name="username" type="text" class='form-control' id='username' placeholder="Username" required>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="id_password1">Password:</label>
            <div>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-light d-flex justify-content-center">Sign in</button>
    </div>
</form>
{% endblock content %}